<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        SS studystudents will help you to book the subject whatever you want to study and you 
        can also join ,and for booking it will provide you the details about everything.
    </p>
    <p>
        The courses are available you can apply for any frontend courses and book and fill the details.
        Here in this mini website you can just apply for the course which you basically want to study and this
        will help you to book the subject whatever you want to study.
    </p>
 
    <br><br><br>
    <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
 
</section>
<br><br>
